<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" class="input" required>
        <input type="password" name="password" placeholder="Password" class="input" required>
        <button class="btn btn-outline btn-info" type="submit">Login</button>
    </form>
</body>
</html>
