<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <form method="POST" class="mx-4">
        <input type="text" name="username" placeholder="Username" class="input" required> <br>
        <input type="password" name="password" placeholder="Password" minlength="8" maxlength="15" class="input"
            required> <br>
        <input type="text" name="name" placeholder="name" class="input" required> <br> <br>
        <button class="btn btn-outline btn-info" type="submit"> Register
        </button>
    </form>
</body>

</html>